body {
    padding: 0;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    position: sticky;
    top:0px;
    left: 0px;
    right: 0px;
    padding:40px;
    background: lightblue;
    text-align: center;
  }
  
  .content {
    padding: 16px;
  }

  content > div {
    height: 50px;
  }