body {
  margin: 0px;
  padding: 0px;
}

.top-page {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;

  background-color: grey;
}

.hover-area:hover .header {
  display: block;
}

.header-left-section {

}

.header-center-section {
  
}

.header-right-section {
  
}

.gallery {
  height: 1000px;

  background-color: rgb(63, 150, 63);
}

.gallery-photo {
  
}

.gallery-text {
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(68, 63, 63);
}

.body {
  height: 1000px;
}