<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Greyrose</title>

      <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
      <div class="header">
        <div class="header-left-section">left</div>
        <div class="header-center-section">center</div>
        <div class="header-right-section">right</div>
      </div>
      <div class="gallery-photo-panel">gallery</div>
      <div class="slideshow-panel">
        <div class="slideshow-slide">slide1</div>
        <div class="slideshow-slide">slide2</div>
        <div class="slideshow-slide">slide3</div>
      </div>
      <div class="sidebar">sidebar</div>
      <div class="body-panel">body</div>
      <div class=""></div>
      <div class="info-panel">info</div>
      <div class="footer">footer</div>
    </body>
</html>