<!DOCTYPE html>
<html>
  <head>
    <title>Greyrose</title>

    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div class="home-top">
      <div class="header">
        <div class="header-left-section">Left</div>
        <div class="header-center-section">Center</div>
        <div class="header-right-section">Right</div>
      </div>
  
      <div class="gallery">
        Gallery
      </div>
    </div>

    <div class="home-middle">
      <div class="home-middle-left">
        <div class="sidebar">
          <div class="sidebar-top-section">Top</div>
          <div class="sidebar-middle-section">Middle</div>
          <div class="sidebar-bottom-section">Bottom</div>
        </div>
      </div>

      <div class="home-middle-right">
        <div class="slideshow">
          <div class="slide1">Slide1</div>
          <div class="slide2">Slide2</div>
          <div class="slide3">Slide3</div>
        </div>
    
        <div class="body">
          Body
        </div>
      </div>
    </div>

    <div class="home-bottom">
      <div class="info">
        <div class="info-left-section">Left</div>
        <div class="info-center-section">Center</div>
        <div class="info-right-section">Right</div>
      </div>
  
      <div class="footer">
        <div class="footer-left-section">Left</div>
        <div class="footer-left-section">Center</div>
        <div class="footer-left-section">Right</div>
      </div>
    </div>
  </body>
</html>