<!DOCTYPE html> <!-- <div class=""></div> -->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Greyrose</title>
    
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div class="top-page">
      <div class="gallery">
        <div class="gallery-photo">Photo</div>
        <div class="gallery-caption">Caption</div>
      </div>
      <div class="header">
        <div class="header-left-section">Left</div>
        <div class="header-center-section">Center</div>
        <div class="header-right-section">Right</div>
      </div>
    </div>
    <div class="middle-page">
      <div class="sidebar" id="mySidebar">
        <div class="top-section">Top</div>
        <div class="middle-section">Middle</div>
        <div class="bottom-section">Bottom</div>
      </div>
      <div class="slideshow">slideshow</div>
      <div class="body">Body</div>
    </div>
    <div class="bottom-page">
      <div class="info">Info</div>
      <div class="footer">Footer</div>
    </div>
  </body>
</html>